.app-container {
  min-height: 100vh;
  display: flex;

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
  }
}

.content-wrapper {
  flex: 1;
}

.main-content {
  &__centered {
    width: calc(100% - 12rem);
    max-width: 112rem;
    margin: 0 auto;
  }
}
