.story {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: unset;
  }

  &__pictures {
    background-image: linear-gradient(
        rgba(198, 153, 99, 0.5),
        rgba(198, 153, 99, 0.5)
      ),
      url(../img/back.jpg);
    background-size: cover;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
  }

  &__img--1 {
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / 5;
    }
  }

  &__img--2 {
    grid-row: 4 / 6;
    grid-column: 4 / -1;
    transform: translate(3rem, 1rem);
    z-index: 20;

    @media only screen and (max-width: $bp-medium) {
      transform: unset;
    }
  }

  &__content {
    align-self: center;
    padding: 6rem 8vw;

    @media only screen and (max-width: $bp-medium) {
      grid-row: 1/2;
    }
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 3rem;
    // max-width: 60%;
  }
}
